#
#
# Common dependencies for production and development.
# - Please use develop.txt for dependencies that you are not
#   sure will end up in production, to avoid unneeded production
#   deps.
#
#
Django==1.6.11
wsgiref==0.1.2
psycopg2==2.6.1
requests==2.8.1
django-phonenumber-field==0.7.2
django-ses==0.6.0
South==0.8.4
django-crispy-forms==1.4.0
dj-database-url==0.3.0
django-extensions==1.5.9
djangorestframework==2.3.13
BeautifulSoup==3.2.1
# 2.5.7 or lower for Django 1.6
django-grappelli==2.5.7
pystache==0.5.4
python-dateutil==2.4.2
Pillow==2.5.3
sorl-thumbnail==11.12
python-social-auth==0.1.26
qrcode==5.1
PyYAML==3.11
django-periodically==0.3.0
boto==2.38.0
fabric==1.10.2
azure==0.8.3
bleach==1.4.2
Markdown==2.6.5
stripe==1.27.1
transifex-client==0.11
openpyxl==2.1.2
beautifulsoup4==4.3.2
django-classy-tags==0.6.2
django-taggit==0.14.0
django-taggit-autosuggest==0.2.7
django-haystack==2.4.1
whoosh==2.7.0
django-push-notifications==1.2.1
django-uuidfield==0.5.0
docopt==0.6.2
pathlib==1.0.1
html2text==2015.6.21
nltk==3.1
django-model-utils==2.3.1
swampdragon==0.4.2.2
gunicorn==19.0.0
